.emotions
    %table.block-center
        %tr.text-large
            %td
                %i.far.fa-grin.grin
                = emotions[:grin]
            %td
                %i.far.fa-grin-squint.happy
                = emotions[:happy]
            %td
                %i.far.fa-dizzy.dizzy
                = emotions[:dizzy]