// Place all the styles related to the shop::shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar{
    background-color: white;
    li {
        padding:8px;
        transition:.2s;
        color:black;
        &:hover{
            background-color:rgba(200,0,0,.05);
        }
    }
}

li.is-selected-tab{
    background-color:#9F6A69;
    color:white;
    &:hover{
        background-color:#9F6A69;
    }
}