%p.text-ex-small
    = link_to 'Shops',admin_shops_path
    ／
    = link_to 'DeletedShops',admin_deleted_shops_path
    ／
    = link_to 'Taxrate',admin_tax_path
    ／
    = link_to 'Logout',admin_session_path,method: :delete