.admin-sidebar
    .container
        .columns.is-mobile
            .column.is-10.is-offset-1
                %ul
                    %li.has-under-line.text-large
                        管理メニュー
                    %li.has-middle-margin
                        = link_to 'Management shops',admin_shops_path,class:"button is-white"
                    %li.has-middle-margin
                        = link_to 'Deleted shops',admin_deleted_shops_path,class:"button is-white"
                    %li.has-middle-margin
                        = link_to 'Taxrate settings',admin_tax_path,class:"button is-white"
                    %li.has-large-margin
                        = link_to 'Logout',admin_session_path,method: :delete,class:"button is-warning"