.container
    .columns
        .column.is-8-desktop.is-offset-2-desktop.is-10-tablet.is-offset-1-tablet.text-center.user-main-content
            .box.text-center
                %p.text-large 貴重なお声をお寄せいただきありがとうございます。
                %p
                %p お客様のご意見・ご要望は今後の店舗運営の参考とさせていただきます。
            .links
                = link_to "メニューに戻る", user_menu_path(@menu)