.main-visual.columns.is-fluid
    #theTarget.text-center
        .image1.hero
            .hero-body.is-hidden-mobile
                .heading-text
                    %a{href:"#s1"}
                        %p SmartMenuで
                        %p お店のメニューを簡単に作成。
                .text
                    %p メニューの設置にかかるコストを削減したい！
                    %p そう感じたことはございませんか？
        .image2.hero
            .hero-body.is-hidden-mobile
                .heading-text
                    %a{href:"#s2"}
                        %p テーブルやカウンターに
                        %p QRコードを設置するだけ。
                .text
                    %p 導入に手間取らせません。
                    %p 簡単に始められます。
        .image3.hero
            .hero-body.is-hidden-mobile
                .heading-text
                    %a{href:"#s3"}
                        %p SmartMenuで
                        %p スマートなお店に。
                .text
                    %p 顧客体験の向上。
                    %p もうメニューをシェアする時代は終わりました。
                            