.main-visual.columns.is-fluid.is-hidden-mobile
    #theTarget.text-center
        .image1
            .heading-text
                menu-appならお店のメニューを
                %br 簡単に作成できます！
            .text
                メニューの作成にかかるコストを削減したい！
                %br そう感じたことはございませんか？
        .image2
            .heading-text
                テーブルやカウンターに
                %br QRコードを設置するだけ。
            .text
                導入に手間取らせません！
                %br 顧客体験の向上にも優れています。
        .image3
            .heading-text
                =link_to new_shop_registration_path do
                    さっそく、
                    %br メニューを作成してみましょう！
            .text
                もっと詳しく知りたい！と思った方は
                %br
                =link_to 'コチラ', about_path
                をご覧ください。