.main-visual.columns.is-fluid.is-hidden-mobile
    #theTarget.text-center
        .image1.hero
            .hero-body
                .heading-text
                    menu-appで
                    %br お店のメニューを簡単に作成。
                .text
                    メニューの設置にかかるコストを削減したい！
                    %br そう感じたことはございませんか？
        .image2.hero
            .hero-body
                .heading-text
                    テーブルやカウンターに
                    %br QRコードを設置するだけ。
                .text
                    導入に手間取らせません！
                    %br 顧客体験も向上させます。
        .image3.hero
            .hero-body
                .heading-text
                    =link_to new_shop_registration_path do
                        さっそく、
                        %br メニューを作成してみましょう！
                .text
                    もっと詳しく知りたい！と思った方は
                    %br
                    =link_to 'コチラ', about_path
                    をご覧ください。