.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-1.is-hidden-mobile
        .column.is-10-mobile.is-offset-1-mobile
            %h2.text-large
                %i.far.fa-grin-alt
                エモーション
            %p.text-small お店の利用者の感情を知ることができます。