.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-8.main-content
            -# 新着リクエスト
            %table.table
                %thead
                    %tr
                        %td
                            %h2.text-large
                                %i.far.fa-comment-alt
                                リクエスト
                            %p.text-small あなたのお店に届いているリクエストです。