.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-8.main-content
            %table.table
                %thead
                    %tr
                        %td
                            %h2.text-large
                                %i.fas.fa-edit
                                カテゴリ編集
                %tbody
                    %tr
                        %td
                            = form_with model: @category, url:{:controller=>'shop/categories',:action=>'update'},local: true do |f|
                                .columns
                                    .column.is-6
                                        .field
                                            = f.label :menu_name,'カテゴリー名',class:'label'
                                            .control
                                                = f.text_field :name,class:'input'
                                        .field
                                            .control.text-center
                                                = f.submit '変更を保存',class:'button'