.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-1.is-hidden-mobile
        .column.is-10-mobile.is-offset-1-mobile
            %table.table.is-hoverable
                %thead
                    %tr
                        %td
                            %h2.text-large
                                %i.fas.fa-edit
                                カテゴリ編集