/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 */
 @import "bulma";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 // 共通
 html{
    //  footerをposition:fixedを使わずに下部に配置する
	min-height: 98.6vh;
    position: relative;
    background-color:#F6F6F6;
 }

 body{
    //  スマホに配慮したフォントファミリ
    font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
 }
//  footer用余白・adminではフッターがないため非適用
 .body{
    margin-bottom: 3em;
 }

//  画像のレスポンシブ化(縦横比を保ちながら親要素の横幅まで拡大・縮小)
 img{
     width:100%;
     max-width: 100%;
     height: auto;
 }

 .container{
     margin-top:60px;
 }

//  文字の大きさなど
 .text-large {
    font-size: 1.4em;
    font-weight:bold;
 }
 .text-small{
    font-size: 0.9em;
 }
 .text-ex-large{
    font-size: 2em;
    font-weight:bold;
 }
 .text-ex-small{
     font-size: 0.8em;
 }
 .text-moderate-large{
     font-size: 1.2em;
 }
 .strong{
    font-weight:bold;
}

// アンダーライン系
.has-under-line{
    border-bottom:1px solid #ebebeb;
}
.has-under-line-blue{
    border-bottom:5px solid #7A75F7;
}
.has-under-line-pink{
    border-bottom:5px solid pink;
}

// 上部余白の指定
.has-large-margin{
    margin-top:30px;
}
.has-ex-large-margin{
    margin-top:50px;
}
.has-middle-margin{
    margin-top:16px;
}
.has-small-margin{
    margin-top:8px;
}
.has-left-margin{
    margin-left:10px;
}
// inlineとinline-blockに使用
 .text-right{
     text-align:right;
 }
 .text-center{
     text-align:center;
 }
 .text-left{
     text-align:left;
 }
//  blockに使用
 .block-center{
     margin: 0 auto;
 }
//  主にボタンの右寄せに使用
 .is-float-right{
     float:right;
 }
//  shop/menus/indexでtdの縦幅を出すために使用(仕様変更でtdではなくdivに
 .td-padding{
     padding-top:24px;
     padding-bottom:24px;
 }
 
 .touch{
     transition:.3s;
     &:hover{
         opacity:.6;
     }
 }

//  テーブルクラスの横幅を100%にして、レイアウト保持のため横幅を固定
 .table{
     width:100%;
     table-layout:fixed;
 }
//  文字列が長くなった時、回り込むようにする（文字ハミ出し防止）
 .column{
    word-wrap: break-word;
 }
//  kaminariのページネーションを囲う・inline化して中央寄せする
.paginate{
    text-align:center;
    *{
        display:inline;
    }
}

// 色選択ボックス(layouts/_select-colors)
 .select-colors{
     label{
        transition:.3s;
        &:hover{
            opacity:.7;
        }
     }
    //  checkedの時、隣接する.ballに色をつける(隣接セレクタ）
     input[type=radio]{
         display:none;
         &:checked + .ball{
             background-color:rgba(255,255,255,.3);
             border:1px solid rgba(0,0,0,.3);
         }
     }
 }

// inline-blockの円（色関係で使用）
.ball{
    height:20px;
    width:20px;
    border-radius:50%;
    content:'';
    display:inline-block;
}

// メインカラムのpadding調整
 .main-content{
     padding-top:20px;
     padding-bottom:20px;
     margin:0 20px;
     background-color:white;
     border-radius:10px;
     position:relative;
 }
 // main-contentの上部に階層リンクを配置
 .links-nav{
     position:absolute;
     top:-19px;
 }
//  チャートの透明度
.chart{
    opacity:.8;
}
// エモーションの顔の色（チャートと同じ色）
.happy{
    color:#E36141;
}
.grin{
    color:#5C85D6;
}
.dizzy{
    color:#FFAD33;
}
 // *** フラッシュメッセージ ***
 #flash-message{
     position:fixed;
     top:4em;
     left:0;
     width:100%;
     z-index:6;
     display:none;
     .notice,.alert{
        border-radius:20px;
        padding:10px;
        font-weight:bold;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
     }
     .notice{
        background-color: #AD8457;
         color:white;
     }
     .alert{
         background-color:white;
         border:1px solid red;
         color:red;
     }
     .danger{
         background-color:black;
         color:red;
         padding:10px;
     }
 }
 #error-message{
    position:fixed;
    top:4em;
    left:0;
    width:100%;
    z-index:6;
    display:none;
 }
.error-message{
    padding:10px;
    background-color:white;
    border:1px solid red;
    color:red;
    font-weight:bold;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
 #error-close-btn{
     float:right;
 }

 // *** header ***
 
 .header {
     background-color: #AD8457;
     color: white;
     height:4em;
     padding: 0 3%;
     box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
     a{
         color:white;
         &:hover{
             color:lightpink;
             text-decoration:underline;
         }
     }
     .header-btn{
         background-color:rgba(0,0,0,0);
         border:2px solid white;
         color: white;
         padding-top:15px;
         padding-bottom:15px;
         margin-top:7px;
         transition:.3s;
         z-index:8;
         box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
         &:hover{
             border:2px solid white;
             color: white;
             text-decoration:none;
             background-color:rgba(255,255,255,.2);
         }
     }
    //  ハンバーガーメニューボタン(header-btnと合わせて適用)
     .is-pushed{
        background-color:rgba(255,255,255,.2);
        box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
        margin-top:8px;
     }
     #menu-btn1{
         padding:15px 30px;
         font-size:0.96em;
     }
     #menu-btn2{
         padding:15px 17px;
         font-size:0.98em;
     }
 }
 
//  ヘッダーハンバーガーメニュー
// ページ全体を覆う
 #menu-overlay{
     position:absolute;
     width:100%;
     height:100%;
     top:0px;
     z-index:7;
     display:none;
    // メニューのul,liを囲っている・それぞれ真ん中メニューと右メニュー
     #menu-modal, #mypage-menu-modal{
        position:absolute;
        top:4em;
        left:12px;
        width:100%;
        z-index:8;
        display:none;
     }
    .menu-list{
        background-color:#AD8457;
        color:white;
        padding:0;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        a, #how-to-link{
            color:white;
            transition: .3s;
            &:hover{
                color:black;
                background-color:rgba(255,255,255,.3);
            }
        }
        li {
            padding:10px;
        }
    }
 }

 // ***footer***

 footer{
     border-top:1px solid lightgrey;
     height:3em;
     color:grey;
     font-size:0.8em;
     position: absolute;
     bottom: 0;
     left: 12px;
     width:100%;
 }
//  ロゴの大きさ調整
 .logo{
     background-image:url('logo.png');
     background-size:cover;
     background-position: center;
     width:180px;
     height:37px;
     margin-top:8px;
 }