// Place all the styles related to the user::menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// user用header
#user-header{
    position:fixed;
    width:100%;
    top:0;
    height:3.5em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    opacity:.7;
    z-index:5;
    .header-btn{
        border:2px solid white;
        color: white;
        margin-top:7px;
        transition:.3s;
        z-index:8;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
        &:hover{
            border:2px solid white;
            color: white;
            text-decoration:none;
        }
    }
   //  ハンバーガーメニューボタン
    .is-pushed{
        box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
        margin-top:8px;
    }
    #menu-btn3{
        padding:18px 50px;
        font-size:0.96em;
        background-color:rgba(100,100,100,.3);
    }
}
// モーダル位置調整
#user-menu-modal{
    position:fixed;
    top:3.5em;
    width:100%;
    z-index:8;
 }
//  ヘッダーメニュー展開時のリスト
.user-menu-list{
    color:white;
    padding:0;
    opacity:.9;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    .grey-shadow{
        background-color:rgba(100,100,100,.5);
        padding:40px 0px;
        border-top:1px solid white;
        color:white;
        font-size:1.2em;
        transition: .3s;
        &:hover{
            color:rgba(255,255,255,.5);
        }
    }
}
// ヘッダー分の余白
.user-head-margin{
    height:2em;
}
// メイン部分の白い背景
.user-main-content{
    border-radius:20px;
    padding:25px 0;
    background-color:white;
    color:rgba(0,0,0,.7);
    margin:0 2%;
}
// 白いアンダーライン
.menu-headline{
    border-bottom:3px solid rgba(255,255,255,.4);
    margin-bottom:1%;
}
.box-margin{
    margin:2% 3%;
}
// アイテムボックス
.menu-item-box{
    padding:2% 5% 4% 5%;
    border-radius:50px;
    background-color:rgba(255,255,255,.9);
    transition:.3s;
    box-shadow:8px 8px 8px rgba(0,0,0,.1),10px 10px 10px rgba(255,255,255,.4) inset;
    color:#3e3e3e;
    &:hover{
        opacity:.9;
        color:#3f3f3f;
    }
}
// 画像を囲んで使用 / 影・透明度・枠線等
.menu-image{
    border:3px solid white;
    background-color:white;
    border-radius:30px;
    box-shadow:8px 8px 8px rgba(0,0,0,.5);
    img{
        border-radius:30px;
        opacity:.9;
        margin-bottom:-5px;
    }
}
// アイテムボックスの下地・メニューカラーが付いている
.menu-ground{
    margin:0 2% 0 2%;
    border-radius:50px;
}
.menu-item-text{
    margin:10px 0;
    display:inline-block;
}
// 階層リンクに使用
.links{
    padding:3px 20px;
}

// emotionsのtdのpadding
.emotions{
    td{
        padding: 0 4px;
    }
}
.emotions-box{
    border-radius:80px / 40px;
    box-shadow:2px 2px 2px rgba(0,0,0,.2);
}