#flash-message
    -if flash[:notice]
        .notice
            %i.fa.fa-comment
            =flash[:notice]
    -if flash[:alert]
        .alert
            %i.fa.fa-exclamation-triangle
            =flash[:alert]