%footer.columns.is-fluid.is-mobile
    .column.text-center.text-small
        -if params[:controller].include?('user')
            Presented by 
            =link_to 'SmartMenu', root_path
        -else
            © 2019 SmartMenu　　2次元コードは(株)デンソーウェーブの登録商標です