%header.header.columns.is-mobile
    .column.is-5.is-gapless
        = link_to root_path do
            .logo.is-inline-block.touch
    .column.is-2.is-gapless.text-center
        %span.button.is-small.header-btn#menu-btn1
            %i.fa.fa-bars
    .column.is-5.is-gapless.text-right
        - if shop_signed_in?
            = link_to destroy_shop_session_path,method: :delete, class:"button is-small is-rounded header-btn" do
                %i.fas.fa-sign-out-alt
                %span ログアウト
            %span.button.is-small.is-rounded.header-btn#menu-btn2
                %i.fas.fa-user
        - else
            = link_to new_shop_registration_path, class:"button is-small is-rounded header-btn" do
                %i.fas.fa-user-alt
                %span 新規登録
            = link_to new_shop_session_path, class:"button is-small is-rounded header-btn" do
                %i.fas.fa-sign-in-alt
                %span ログイン
